  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .padding-sides {
	  padding-left: 90px;
	  padding-right: 90px;
  }
  .bg-heading { 
      //background-color: #1abc9c; /* Green */
	  background-color: lightsteelblue;
      //color: #ffffff;
	  color: #2f2f2f; /* Black Gray */
  }
  .bg-page-title {
      //background-color: #ffffff; /* White */
  	  color: #2f2f2f; /* Black Gray */
	  font-style: italic;
  }
  .bg-topic-odd { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-topic-even { 
      background-color: 	#47595d; /* Dark Blue */
      color: #ffffff;

  }
  .bg-about { 
      background-color: #ffffff; /* White */
	  color: #555555;

  }
  .bg-footer { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
  .links {
	  //color: #dadbde;
	  color: #b5b8be;
	  text-decoration: underline;
  }